<head>
    <meta charset="utf-8">
    <title>Google Recaptcha in Node.js Tutorial</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body>
    <div class="container"><br />
        <form method="post" action="/captcha">
            <div class="g-recaptcha" data-sitekey="6LdGcdsaAAAAAHp9Ha9p2_Ht7SwyFjA3kT6KsACm"></div>
            <button type="submit" class="btn btn-succes">Submit</button>
        </form>
    <script src='https://www.google.com/recaptcha/api.js'></script>

</html>
