<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="278162699022-vcn0nfdpt3hv4hcrqfgc3nnimvub1qrj.apps.googleusercontent.com">
    <script src="server.js"></script>
    <script src="main.js"></script>

    <title>Document</title>
</head>

<body>
    <h1>THIS IS WHERE THE SEARCH OUTPUT THE USER LIST</h1>

    <!--SEARCH BAR-->
    <form action="/search" method="GET" class="form-inline" id="search-form">
        <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required> 
        <input type="submit" class="btn btn-primary" value="Search">
        <div class="searchBox">
        </div>
    </form>

    <div class="search-table">
        <% if(userData.length !=0) { var i=1; userData.forEach(function(data) { %>
            <ul>
                <div class="search-container">
                    <a href="/showuser?prof=<%=data.email%>" style="text-decoration: none; color: black" method="GET">
                        <div class="search-name">Name: <%=data.name%>
                        </div>
                        <div class="search-biglittle">
                            <%=data.biglittle%>
                        </div>
                        <div class="search-year">Year: <%=data.yr%>
                        </div>
                    </a>
                </div>
            </ul>
            <% i++;}) %>
                <% } else { %>
                    <div class="search-err">No user found who matches your attributes!</div>
                    <% } %>

    </div>

</body>

</html>