:root {
    --body-bg: white;
    --msger-bg: white;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
}

.chat-room {
    display: flex;
    flex-flow: column wrap;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    width: 100%;
    border: var(--border);
    border-radius: 15px;
    max-width: 700px;
    margin: 25px 10px;
    height: calc(100% - 50px);
}

.chat-box {
    background-color: white;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.chat-box::-webkit-scrollbar {
    width: 10px;
}

.chat-box::-webkit-scrollbar-track {
    background: #ddd;
}

.chat-box::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.text-box {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-end;
}

.text-box:last-of-type {
    margin: 0;
}

.text-box-bubble {
    max-width: 500px;
    border-radius: 15px;
    padding: 12px;
    background: var(--left-msg-bg);
}

.text-box-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.text-box-info-name {
    font-weight: bold;
    margin-right: 10px;
}

.text-box-info-time {
    font-size: 0.85em;
}

.left-msg .text-box-bubble {
    border-bottom-left-radius: 0;
}

.input-container {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
}

.input-container * {
    border: none;
    border-radius: 10px;
    font-size: 1em;
    padding: 8px;
}

.input-message-box {
    flex: 1;
    background: #ddd;
}

.input-send-button {
    font-weight: bold;
    margin-left: 20px;
    background: rgb(95, 161, 248);
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

.input-send-button:hover {
    background: rgb(20, 253, 136);
}

.chat-sidebar {
    width: 200px;
    position: fixed;
    height: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    right: 1%;
    bottom: 10%;
    border-radius: 14px;
    border: 1px solid grey;
    background-color: white;
}

.sidebar-name {
    font-size: 12px;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar-name a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.sidebar-name span {
    padding-left: 5px;
}

.sidebar-name img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.sidebar-name:hover {
    background-color: #e1e2e5;
    transform: scale(1.2);
    border-radius: 16px;
}

.popup-chat {
    display: none;
    position: fixed;
    height: 500px;
    width: 280px;
    bottom: 0px;
    right: 250px;
    border-radius: 3rem;
    background-color: rgb(237, 239, 244);
    border: 1px solid rgba(29, 49, 91, .3);
}

.popup-chat .popup-chat-header {
    background-color: transparent;
    font-weight: bold;
    padding-top: 10px;
    font-size: 16px;
    border-radius: 3rem;
    color: rgb(95, 161, 248);
}

.popup-chat .popup-chat-header .popup-chat-header-left {
    display: flex;
    justify-content: center;
    vertical-align: center;
}

.popup-chat .popup-chat-header .popup-chat-header-right {
    float: right;
    font-size: 2rem;
    margin-right: -2rem;
    margin-top: -4rem;
}

.popup-chat .popup-chat-header .popup-chat-header-right a {
    text-decoration: none;
    color: red;
}

.popup-chat .popup-chat-messages {
    height: 100%;
    overflow-y: scroll;
}

.capt {
    background-color: grey;
    width: 300px;
    height: 100px;
}

#mainCaptcha {
    position: relative;
    left: 60px;
    top: 5px;
}

#refresh {
    position: relative;
    left: 230px;
    width: 30px;
    height: 30px;
    bottom: 45px;
    background-image: url(rpt.jpg);
}

#txtInput,
#Button1 {
    position: relative;
    left: 40px;
    bottom: 40px;
}

#search-result-temp {
    position: absolute;
    top: 0;
    left: 0;
}

.userinfo-table {
    font-size: 18px;
    border-radius: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 15px;
    background-image: linear-gradient(cyan, lightgreen);
}

#other-user-ava {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}

.search-table {
    padding: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    max-height: 70%;
    overflow-y: auto;
}

.search-container {
    width: 300px;
    font-size: 16px;
    border-radius: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 30px;
    background-image: linear-gradient(cyan, lightgreen);
    -webkit-transition: background 2s;
    /* For Safari 3.0 to 6.0 */
    transition: background 2s
}

.search-container:hover {
    box-shadow: 0 5px 15px purple;
    animation: search-container 1s infinite;
    animation-timing-function: linear;
}

@keyframes search-container {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
        100% {
            transform: scale(1);
        }
    }
}

#search-container-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.like-button {
    border-radius: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    border-color: purple;
}

.like-button:hover {
    border-width: 2px;
    border-color: purple;
    color: red;
    transform: scale(1.1);
}


/*Dashboard - contains logout, home, profile, search bar, hello msg --- feel free to change its only temporally*/

#home-temp {
    position: absolute;
    top: 0;
    left: 0;
}

.modal {
    /*display: block !important;*/
    width: 300px!important;
    height: 100px!important;
    position: fixed!important;
    top: 50%!important;
    left: 50%!important;
    margin-top: -50px!important;
    margin-left: -150px!important;
    text-align: center!important;
    -webkit-animation: scale .3s ease-out;
    -moz-animation: scale .3s ease-out;
}

@-webkit-keyframes scale {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.7);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes scale {
    0% {
        opacity: 0;
        -moz-transform: scale(0.7);
    }
    100% {
        opacity: 1;
        -moz-transform: tscale(1);
    }
}

#match-name {
    font-weight: bold;
}